.center1 {
  margin:auto;
  width:50%;
  border:3px solid green;
  padding:10px;
}

a:hover, a:visited, a:link, a:active {
  text-decoration:none;
}

.hidden {
  display:none;
}

.div.center {
  padding:10px;
}

.center {
  text-align:center;
  align-content:center;
}

